@media(min-width: 768px) {

    /******************** Universal ******************/

    header {
        padding: 0rem;
        position: relative;
    }

    nav {
        width: 100%;
    }

    .p-md {
        font-size: 4rem;
    }

    .icon-width {
        width: 2.5rem;
    }

    .car-option {
        width: 35rem;
    }

    /****************** Navegation ********************/

    .flex-title {
        padding-left: 2rem;
    }

    .padding-box-icon {
        padding: 1.4rem 6.5rem;
        border-left: 2px solid #fff;
    }

    .flex-icon {
        gap: 0;
    }

    .box-menu {
        right: 75%;
    }

    /********************** Filter ***********************/

    #filter {
        padding: 2rem 0rem;
        width: 50rem;
        margin: auto;
        display: flex;
    }

    /******************** Products *******************/
}